
body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: arial, verdana, sans-serif;
	color: #333;
	background: url('../images/topback.jpg') repeat-x;
}

h2.mb0 { color: #fff; margin-top: 120px; margin-bottom: 50px;}


#container {
	width: 925px;
	margin: 0 auto 0 auto;
	text-align: left;
	position: relative;
}

.control-label {
	width: 100px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-pills > .active > a, .nav-pills > .active > a:hover { 
outline: 0;
}

.checkmark {
	margin-left: 20px;
	display: none;
}
#body_manage .control-label { width: 600px; margin-right: 20px;}

small { display: block; font-size: 10px; color: #000; font-style: italic;}

smaller { display: block; font-size: 11px; color: #555; font-style: italic;}


.loading {
	display: none;
}


.success {
	padding: 20px 40px;
	background-color: #007209;
	border: 1px solid #004005;
	color: #fff;
	font-size: 16px;
	
}


.error {
	padding: 20px 40px;
	background-color: #740000;
	border: 1px solid #400000;
	color: #fff;
	font-size: 16px;
	
}

table.tiger tr {
	background: #ccc;
}

form.inplace textarea {
	width: 90% !important;
	height: 120px !important;
}

table.tiger { border: 1px solid black;}

table.tiger td { padding: 10px; }

table.tiger tr.alternate {
	background: #ddd;
}
input[type=checkbox].css-checkbox {
							  position: absolute; 
							overflow: hidden; 
							clip: rect(0 0 0 0); 
							height:1px; 
							width:1px; 
							margin:-1px; 
							padding:0;
							border:0;
						}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left:20px;
							height:15px; 
							display:inline-block;
							line-height:15px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:15px;
							vertical-align:middle;
							cursor:pointer;
						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -15px;
						}
						
						.css-label{
							background-image:url(http://csscheckbox.com/checkboxes/lite-red-check.png);
						}
						