.dd {
	/*display:inline-block !important;*/
	text-align:left;
	background-color:#fff;
	font-family:"Trebuchet MS" , Helvetica, sans-serif;
	font-size:14px;
	float: left;
}
.dd .ddTitle {
	background:#f2f2f2;
	border:1px solid #c3c3c3;
	padding:3px;
	text-indent:0;
	cursor:pointer;
	overflow:hidden;
	height:20px;
	}
.dd .ddTitle span.arrow {
	background:url(dd_arrow.gif) no-repeat 0 0; float:right; display:inline-block; width: 16px; height:16px; cursor:pointer; margin-top: 2px;
}

.dd .ddTitle span.textTitle {text-indent:1px; overflow:hidden; line-height:20px;}
.dd .ddTitle span.textTitle img{text-align:left; padding:0 2px 0 0; height: 20px;}
.dd .ddTitle img.selected {
	padding:0 3px 0 0;
	vertical-align:top;
	height: 18px;
}
.dd .ddChild {
	position:absolute;
	border:1px solid #c3c3c3;
	border-top:none;
	display:none;
	margin:0;
	width:565px;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#ffffff;
}
.dd .ddChild .opta a, .dd .ddChild .opta a:visited {padding-left:10px}
.dd .ddChild a {
	display:block;
	padding:3px 0 3px 3px;
	text-decoration:none;
	color:#000;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;

}
.dd .ddChild a:hover {
	background:#ffa;
}
.dd .ddChild a img {
	border:0;
	padding:0 2px 0 0;
	vertical-align:middle;
	height: 20px;
	
}
.dd .ddChild a.selected {
	background:#f2f2f2;
	display: none;
	
}
.hidden {display:none;}

#artist_center_dropdown {
	text-align: center;
	width: 980px;
	}
	
#artist_center_dropdown_inner {
	text-align: center;
	margin: 0 auto;
	width: 600px;
	}
