<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<system.webServer>
		<security>
		<!-- This section should be uncommented after
		installation to secure the installation. -->
		
			<requestFiltering>
				<denyUrlSequences>
					<add sequence="passwords.php" />
				</denyUrlSequences>
			</requestFiltering>
		
		</security>
		<directoryBrowse enabled="true" />
	</system.webServer>

</configuration>